@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}
:root {
  --color-white: #fff;
  --color-black: #000000;
}
body.bg-light {
  color: var(--color-black) !important;
}
body.bg-dark {
  color: var(--color-white) !important;
}
body.bg-light .card {
  color: var(--color-black) !important;
}
body.bg-dark .card {
  color: var(--color-black) !important;
}

body.bg-light .footer-icon i {
  color: var(--color-black) !important;
}
body.bg-dark .footer-icon i {
  color: var(--color-white) !important;
}

body.bg-light .carousel-indicators [data-bs-target] {
  background-color: var(--color-black) !important;
}

body.bg-light .cardarea {
  background-color: rgb(13, 202, 240) !important;
  box-shadow: 2px 3px 5px 2px rgb(53 124 117 / 58%) !important;
}

body.bg-dark .card-header {
  border-color: rgb(77, 77, 77);
}
.nav-link {
  font-size: 1.2rem;
}
.cardiconhover {
  transition: 0.3s;
}
.cardiconhover:hover {
  opacity: 0.6;
}
.cardiconhover:hover i {
  transition: 0.3s;
}
.cardiconhover:hover i {
  animation: tiktak 0.5s ease-in-out forwards;
}
@keyframes tiktak {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-1rem);
  }
}

.cardarea {
  background-color: rgb(15, 2, 29);
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.582);
  color: #fff !important;
}
.card-body {
  color: white !important;
}

.bgcolor {
  text-align: justify;
  background-color: #6699cc;
  border-left: solid;
  border-left-color: #99aec6;
  border-left-width: 40px;
}

.bgcolor h4 {
  font-weight: bold;
}

.cardmainhover:hover {
  background-color: #36454f;
  color: white;
  transition: 0.7s ease;
  transition-timing-function: linear;
  transition-delay: 0.3s;
  transition-duration: 0.7s;
}

.fa-lock-open {
  color: #357698;
  stroke: black;
  -webkit-text-stroke: 2px black;
}

.fa-sack-dollar {
  color: #a523e2;
  stroke: black;
  -webkit-text-stroke: 2px black;
}

.fa-handshake-angle {
  color: #d3be7e;
  stroke: black;
  -webkit-text-stroke: 2px black;
}

.fa-user-shield {
  color: #b33a3a;
  stroke: black;
  -webkit-text-stroke: 2px black;
}

.fa-registered {
  color: #291ae0;
  stroke: black;
  -webkit-text-stroke: 2px black;
}

.fa-coins {
  color: #85bb65;
  stroke: black;
  -webkit-text-stroke: 2px black;
}

.titlebold {
  font-weight: 700;
}
.gradient-color {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(32, 4, 61) 50%,
    rgb(30, 7, 54) 100%
  );
  filter: drop-shadow(2px 3px 5px 2px rgba(0, 0, 0, 0.582));
}

.visiter-home-top-section-background {
  /* background: rgb(2,0,36); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border: solid;
  border-width: 1px;
  border-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

.visiter-home-top-section-background:hover {
  background: black;
  /* background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(2,0,36,1) 100%); */
  color: white;
  border: solid;
  border-width: 1px;
  transition: 0.7s ease;
  transition-timing-function: linear;
  transition-delay: 0.3s;
  transition-duration: 0.7s;
}
/* hero setion */
.hero-section {
  background: url(../../images/bg.svg);
  background-size: contain;
}
.carousel-item .slide-content {
  transition: 1s;
  opacity: 0;
}
.carousel-item.active .slide-content {
  animation: slideLeft 0.5s ease forwards;
}
.slide-image {
  transition: 1s;
  opacity: 0;
}
.carousel-item.active .slide-image {
  animation: skelll 0.5s ease forwards;
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes skelll {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.hero-content {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.carousel-item {
  padding: 5rem 0;
}
.carousel-item img {
  height: 28rem !important;
}
.service-row .card {
  min-height: 20rem;
}
.blur-shadow {
  width: 10rem;
  height: 30rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#458eca7a),
    color-stop(#db32c28f),
    to(#f64c8886)
  );
  background: -o-linear-gradient(#458eca7a, #db32c28f, #f64c8886);
  background: linear-gradient(#458eca7a, #db32c28f, #f64c8886);
  -webkit-filter: blur(10rem);
  filter: blur(10rem);
  position: absolute;
  top: -5rem;
  left: -5rem;
  z-index: 1;
}
.blur-shadow3 {
  width: 15rem;
  height: 15rem;
  background: #22cdc7a6;
  -webkit-filter: blur(10rem);
  filter: blur(10rem);
  position: absolute;
  bottom: 10rem;
  right: 20rem;
  z-index: 1;
  opacity: 0.7;
}

/* resgintetion css */
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}
.login-form-width {
  width: 50%;
}

/* js scroll  onscroll animation */
.js-scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  -webkit-animation: fade-in 0.5s ease-in-out both;
  animation: fade-in 0.5s ease-in-out both;
}

.scrolled.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.5s ease-in-out both;
  animation: fade-in-bottom 0.5s ease-in-out both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-md-center {
  text-align: left !important;
}
@media (max-width: 768px) {
  .carousel-item img {
    height: auto !important;
    width: 80%;
  }
  .login-form-width {
    width: 90%;
  }
  .text-md-center {
    text-align: center !important;
  }
  .p-md-3 {
    padding: 2rem !important;
  }
}
